.react-tabs {
    display: flex;
    margin: 100px 0px;
}
.ComInfo {
    padding: 80px 50px;
    background: var(--containerColor);
    border-radius: var(--borderRadius);
    margin-right: -100px;
    width: 60%;
}
.ComInfo h2 {
    font-weight: 900;
}
.ComTabs {
    width: 40%;
}
ul.react-tabs__tab-list {
    display: grid;
    text-align: center;
    border: none;
    gap: 20px;
    padding: 50px;
}
.react-tabs__tab-list li {
    background: #232D39;
    color: #fff;
    font-weight: 800;
    padding: 45px;
    border-radius: var(--borderRadius);
    border: none;
    font-size: 26px;
    transition: 0.3s all !important;
    cursor: pointer;
    overflow: hidden !important;
}
.react-tabs__tab--selected {
    background: var(--primaryColor) !important;
    transform: translateX(20px);
}

.MembersGrid {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    gap: 25px;
    margin-top: 30px;
}

.MemberProfile {
    width: 100%;
    height: 60px;
    border: none;
    background: #232D39;
    border-radius: 100px;
    overflow: hidden;
}
.MemberProfile img {
    width: 100%;
    height: 100%;
}




.PerksNFeatures {
    margin: 100px 0px 80px;
}
.PerksNFeatures h5 {
    margin-bottom: 50px;
    font-weight: 600;
}
.PerksCards {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.PerksCards h3 {
    text-align: center;
    margin-bottom: 30px;
}
.PerksCards p {
    font-size: 18px;
}
.PerkCard {
    background: #0F151C;
    border-radius: var(--borderRadius);
    padding: 50px 50px 30px;
    transition: 0.3s all !important;
}







@media (max-width: 786px) {
    
    .PerksCards {
        grid-template-columns: 1fr !important;
    }
    .MembersGrid {
        grid-template-columns: repeat(4,1fr) !important;
    }
    .react-tabs {
        flex-direction: column-reverse !important;
    }
    .ComTabs , .ComInfo {
        width: 100% !important;
    }
    .react-tabs__tab--selected {
        transform: translate(0px);
    }
}