@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@700&family=PT+Sans&display=swap');
:root {
    /* COLORS */

    --backgroundColor: #090E13;
    --containerColor: #0F151C;
    --textColor: #2A3B4B;
    --linkColor: #fff;

    --primaryColor: #0668CB;
    --secondaryColor: #1DCEEF;
    --complementaryColor: rgb(255, 255, 148);

    

    --darkText: ;
    --lightText: rgba(57, 82, 107, 1);


    

    /* Font Families */
    --DefaultFont: 'League Spartan', sans-serif;

    /* MISC */
    --borderRadius: 10px;
    --headingfont:32px;
    --contentfont:24px;
    --subheadingfont:24px;
    --eventfont:16px
    /* IMAGES */
    --Logo: url('');
    --buttoncolor:#0668CB;
}
.accordion {
  width: 90%;
 text-align: center;
  background-color: var(--buttoncolor);
  color: var(--linkColor);
 
 justify-content: center;
}
.reports-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-item {
  margin-bottom: 10px;
  border: 3px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--buttoncolor);
}

.accordion-header {
  background-color: transparent;
  padding: 10px;
}


.accordion-button {
  background-color: var(--buttoncolor);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.accordion-button:focus {
  outline: none;
}

.accordion-body {
  padding: 10px;
  background-color: #0668CB; /* Set the accordion body background color to match the button */
}
.accordion-body iframe{
  background-color: var(--buttoncolor);
}



