@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@700&family=PT+Sans&display=swap');
:root {
    /* COLORS */

    --backgroundColor: #090E13;
    --containerColor: #0F151C;
    --textColor: #2A3B4B;
    --linkColor: #fff;

    --primaryColor: #0668CB;
    --secondaryColor: #1DCEEF;
    --complementaryColor: rgb(255, 255, 148);

    

    --darkText: ;
    --lightText: rgba(57, 82, 107, 1);


    

    /* Font Families */
    --DefaultFont: 'League Spartan', sans-serif;

    /* MISC */
    --borderRadius: 10px;
    --headingfont:32px;
    --contentfont:24px;
    --subheadingfont:24px;
    --eventfont:16px
    /* IMAGES */
    --Logo: url('');
}
*{
    margin: 0;
    padding: 0;
  overflow-x: hidden;
    
}
body{
    background-color: var(--backgroundColor);
}
.footer img{
    height: 100px;
    width: auto;
}
 .footer{
    display: flex;
    flex-direction:row;
    gap: 30%;
    margin-bottom: 50px;
 }
 .Leftfooter{
    padding-left: 5%;
    width: 50%;
    padding-top: 2%;
 }
 .twologos{
    height: 50px;
    width: auto;
 }

 .RightFooter{
    padding-top: 2%;
    padding-right: 5%;
    width: 50%;
    

 }
 .footer p{
    font-size: 16px;
 }
 .RightFooter p {
  
 }
 @media (max-width: 992px)
 {
    .footer{
        display: flex;
        flex-direction:column;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
       
        text-align: center;
        width: 100%;
    }
        .Leftfooter{
         
           margin-bottom: 20px;
           padding: 0%;
           width: 80%;
           padding-top: 10%;
         }
        
        
         .RightFooter{
           text-align: center;
           padding: 0;
           width: 80%;
               
         
            
        
         }
         .footer img{
            height: 100px;
         }
     
 }