.prize-navbar-container {
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .prize-navbar {
    width: 100%;
    border-bottom: 1px solid #7ac8f5;
    display: flex;
    padding: 1rem 0;
    border-radius: 16px 16px 0 0;
    min-width: max-content;
  }
  
  .navbar-prize-item {
    margin: 0;
    margin-right: 25px;
    color: rgba(7, 72, 110, 0.5);
    transition: color 350ms ease 0s;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  
  .active-prize-item,
  .active-prize-item:hover {
    color: #07486e !important;
  }
  
  .active-prize-item::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 36px;
    border-bottom: 4px solid #4fb5f0;
    border-radius: 100px;
    animation: 0.25s linear view;
  }
  
  .prize-card-container {
    display: flex;
    gap: 2rem;
    min-height: 250px;
  }
  
  .prize h3 {
    font-size: 3rem;
  }
  
  .prize h3,
  .prize p {
    color: #07486e;
    font-weight: 600;
    margin: 0;
  }
  
  .prize-card-container-main {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    display: flex;
    animation: 0.25s linear view;
    width: 100%;
  }
  
  .prize-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    gap: 2rem;
  }
  
  .prize-card-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    top: 6px;
    border-radius: 500px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  }
  
  .prize-card-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .prize-card-container {
      padding: 0.5rem;
    }
  
    .prize-card-number {
      width: 50vw;
      height: 50vw;
      max-width: 150px;
      max-height: 150px;
    }
  
    .prize-section-footer h3 {
      font-size: 1.25rem;
      padding: 0;
    }
  
    .prize-section-footer p {
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }
  }
  